@page
@model Disaster_Alleviation_Foundation_GOTGF_.Pages.Auth.LoginModel
@{
    Layout = null; // Disable the default layout for this page
}
<head>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <div class="screen-1">
    <form method="post">
        

            <div class="email">
                <label for="email">Email Address</label>
                <div class="sec-2">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input asp-for="Email" name="Email" placeholder="Username@gmail.com" />
                </div>
            </div>
            <div class="password">
                <label for="password">Password</label>
                <div class="sec-2">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input class="pas" asp-for="Password" type="password" placeholder="············" />
                    <ion-icon class="show-hide" name="eye-outline"></ion-icon>
                </div>
            </div>

            <button type="submit" class="login">Login </button>
        
    </form>

    <div class="footer">
        <span>
            <a asp-page="./Register">Register</a>
        </span>
            <span><a asp-page="./AdminLogin">Admin Log In</a></span>
    </div>
    </div>

</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
